<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">

                <div class="container text-center">
                    <img src="../../../assets/logo.png">
                </div>
                <h1 class="text-center">Register Here</h1>

                <form (ngSubmit)="formSubmit()">
                    <!--username field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input 
                    
                        matInput placeholder="Enter here"
                        >
                    </mat-form-field>
    
                    <!--password field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Enter here">
                    </mat-form-field>

                    <!--first name field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Enter here">
                    </mat-form-field>
              
                    <!--last name field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Enter here">
                    </mat-form-field>
              
                    <!--email name field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Enter here">
                    </mat-form-field>
                
                    <!--phone number field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input type="number" matInput placeholder="Enter here">
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button style="margin-left: 20px;" mat-raised-button color="accent">Register</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>