<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">

                <mat-card>
                    <div class="container text-center"><img src="../../../assets/logo.png" alt=""></div>
                    <h1 class="text-center">Login</h1>

                    <form>
                        <!--username field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input required matInput placeholder="Enter here">
                        </mat-form-field>

                        <!--password field-->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input required type="password" matInput placeholder="Enter here">
                        </mat-form-field>

                        <div class="container ">
                            <button mat-raised-button color="primary" type="submit">Login</button>
                            <button mat-raised-button color="accent" style="margin-left: 20px;">Reset</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>